{{- define "headTpl" -}}
    {{- partial "head/preload-css" (dict "href" "/css/partner.css") -}}
    {{$.Scratch.Set "nav_active" "partner"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "/news" }}
{{- end -}}

{{- define "main" -}}
    {{ $title := "合作伙伴" }}
    {{ $subtitle := "积极打造产业生态，涵盖产品研发、解决方案、技术服务、上下游生态和云服务多个领域" }}
    {{ $image := "/images/partner/pingcap-partner.svg" }}
    <div class="partner">
        {{ partial "layout/hero-new.html" (dict "title" $title "subtitle" $subtitle "image" $image) }}
        <div class="container partner_list">
            <div class='partner_list_image'>
                <img class="partner_list_image_pc" src="/images/partner/partner-pc.png" alt="合作伙伴">
            </div>
            <div class='partner_list_image'>
                <img class="partner_list_image_mobile" src="/images/partner/partner-mobile.png" alt="合作伙伴">
            </div>
<!--            {{- partial "news/list.html" (dict "posts" .Site.Data.news_cn "global" .) -}}-->
        </div>
    </div>
{{- end -}}

{{ define "footJS"}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $(".lazy").lazyload({
        threshold: 200,
        effect : "fadeIn"
    });
</script>
{{- end -}}
