[submodule "content/blog-cn"]
	path = content/blog-cn
	url = https://github.com/pingcap/blog-cn
	shallowed = true
[submodule "content/meetup"]
	path = content/meetup
	url = https://github.com/pingcap/meetup
	shallowed = true

