[submodule "content/meetup"]
	path = content/meetup
	url = https://github.com/pingcap/meetup
	shallowed = true
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/pingcap/blog-cn
