{{ $nav_active := $.Scratch.Get "nav_active" }}
<header role="navigation" class="fixed-top">
    <div class="container">
        <a class="nav-brand" href="/"><img src="/images/pingcap-logo-while-line.svg" alt="平凯星辰"></a>
        <div class="nav-wrapper">
            <div class="navigation">
                <ul>
                    <li class="docs-type-selector {{ if eq $nav_active "docs"}}sel{{end}}" id="docsTypeSelector">
                        <a class="header-doc-nav" href="#">开发者社区</a>
                        <div class="header-dropdown-menu" id="docsTypeSelectorItem">
                            <a class="header-dropdown-item" href="https://tidb.io">TiDB 社区</a>
                            <a class="header-dropdown-item" href="https://docs.pingcap.com/zh">TiDB 文档</a>
                            <a class="header-dropdown-item" href="/case/">案例</a>
                            <a class="header-dropdown-item" href="/blog/">博客</a>
                            <a class="header-dropdown-item" href="https://learn.pingcap.com">培训中心</a>
                        </div>
                    </li>
                    <li {{ if eq $nav_active "news"}}class="sel" {{end}}><a href="/news">新闻报道</a></li>
                    <li {{ if eq $nav_active "about"}}class="sel" {{end}}><a href="/about">关于</a></li>
                    <li {{ if eq $nav_active "download"}}class="sel" {{end}}><a href="https://wenjuan.feishu.cn/m/cfm?t=sfjLeEoRJ5ui-23q1">试用申请</a></li>
                    <li><a class="link-download" href="/about/#contact-us">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-btn nav-slider">
            <i class="material-icons">{{ partial "svgs/icon-menu.svg" (dict "width" 16 "height" 16 ) }}</i>
        </div>
    </div>
</header>
