{{ $nav_active := $.Scratch.Get "nav_active" }}
{{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
<!-- nav -->
<nav class="mobile-sidebar">
    <div class="nav-header">
        <div class="logo-wrap">
        <a class="nav-brand" href="/"><img src="/images/pingcap-logo-while-line.svg" alt="平凯星辰"></a>
        </div>
    </div>
    <ul class="ul-base">
        <li class="docs-type-selector {{ if eq $nav_active "community"}}sel{{end}}" id="docsTypeSelector">
            <p class="header-doc-nav">开发者社区 > </p>
            <div class="header-dropdown-menu" id="docsTypeSelectorItem">
                <a class="header-dropdown-item" href="https://tidb.io">TiDB 社区</a>
                <a class="header-dropdown-item" href="https://docs.pingcap.com/zh">TiDB 文档</a>
                <a class="header-dropdown-item" href="/practice">用户实践</a>
                <a class="header-dropdown-item" href="/blog/">博客</a>
                <a class="header-dropdown-item" href="https://learn.pingcap.com">培训中心</a>
            </div>
        </li>

        <li {{ if eq $nav_active "news"}}class="sel"{{end}}><a href="/case">成功案例</a></li>
        <li {{ if eq $nav_active "news"}}class="sel"{{end}}><a href="/partner">合作伙伴</a></li>
        <li {{ if eq $nav_active "news"}}class="sel"{{end}}><a href="/news">新闻报道</a></li>
        <li {{ if eq $nav_active "about"}}class="sel"{{end}}><a href="/about">关于</a></li>
        <li {{ if eq $nav_active "trial"}}class="sel"{{end}}><a href="https://wenjuan.feishu.cn/m/cfm?t=sfjLeEoRJ5ui-23q1">试用申请</a></li>
        <li><a class="link-download" href="/about/#contact-us">联系我们</a></li>
    </ul>
    <div class="nav-footer">
        <div class="contact-list-wrap">
            <div class="flex-list">
                <h4 class="list-title"><strong>关注我们</strong></h4>
                <ul class="social social-cn ul-base">
                    <li id="wechat-mobile"><a class="wechat" href="javascript:void(0)">{{ partial "svgs/icon-weixin.svg" (dict "width" 18 "height" 18 ) }}</a>{{ partial "common/qr-code.html" . }}</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- @end nav -->
