{{- define "headTpl" -}}
    {{- partial "head/preload-css" (dict "href" "/css/practice.css") -}}
    {{$.Scratch.Set "nav_active" "news"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "/news" }}
{{- end -}}

{{- define "main" -}}
    {{ $title := "新闻报道" }}
    {{ $image := "/images/news/pingcap-news.svg" }}
    <div class="news">
        {{ partial "layout/hero-new.html" (dict "title" $title "image" $image) }}
        <div class="container">
            {{- partial "news/list.html" (dict "posts" .Site.Data.news_cn "global" .) -}}
        </div>
    </div>
{{- end -}}

{{ define "footJS"}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $(".lazy").lazyload({
        threshold: 200,
        effect : "fadeIn"
    });
</script>
{{- end -}}
