{{- define "headTpl" -}}
    {{- partial "head/preload-css" (dict "href" "https://download.pingcap.com.cn/style/gridtab.min.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/case.css") -}}
    {{$.Scratch.Set "nav_active" "case"}}
    {{$.Scratch.Set "data_i18_link" "/success-stories" }}
    {{$.Scratch.Set "data_i18_cn" true }}
{{- end -}}

{{- define "main" -}}
    {{ $title := "成功案例" }}
    {{ $subtitle := "TiDB 企业版正在为众多企业客户提供稳定高效、安全可靠、开放兼容的新型数据基础设施服务" }}
    {{ $image := "/images/case/pingcap-case.svg" }}
    <div class="case">
        {{ partial "layout/hero-new.html" (dict "title" $title "subtitle" $subtitle "image" $image) }}
        <div class="container">
            <div class='case_list'>
                <div class='case_list_title'>
                    金融行业
                </div>
                <div class='case_list_image'>
                    <img class=" case_list_image_pc" src="/images/case/case-finance-pc.png" alt="金融行业">
                    <img class="case_list_image_mobile" src="/images/case/case-finance-mobile.png" alt="金融行业">
                </div>
                <div class='case_list_title'>
                    传统行业
                </div>
                <div class='case_list_image'>
                    <img class="case_list_image_pc" src="/images/case/case-tradition-pc.png" alt="传统行业">
                    <img class="case_list_image_mobile" src="/images/case/case-tradition-mobile.png" alt="传统行业">
                </div>
            </div>
        </div>
    </div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="https://download.pingcap.com.cn/js/gridtab.min.js"></script>
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // process grid tabs
            $('#case-tabs').gridtab({
                grid: 5,
                borderWidth: 1,
                tabPadding: 12,
                contentPadding: 0,
                config: {
                    layout: 'tab',
                    activeTab: 1,
                    keepOpen: true,
                },
            });
            // process cards
            var zIndex = 10;
            function scrollCard(ele) {
                var wh = $(window).height();
                var y = ele.offset().top;
                var h = ele.height();
                var offset = (y + h) - wh;

                if(offset > 0) {
                    $('html, body').animate({
                        scrollTop: y - $('header').height() - $('.card.show').height(),
                    }, 1000);
                }
            }
            $(".tab").click(function(){
                if ($(".cards").hasClass("showing")) {
                    $(".cards")
                        .removeClass("showing");
                    $(".card.show")
                        .removeClass("show");
                }
            })
            $(".card").click(function (e) {
                e.preventDefault();
                var isShowing = false;
                if ($(this).hasClass("show")) {
                    isShowing = true
                }
                if ($(".cards").hasClass("showing")) {
                    $(".card.show")
                        .removeClass("show");

                    if (isShowing) {
                        $(".cards")
                            .removeClass("showing");
                    } else {
                        $(this)
                            .css({
                                zIndex: zIndex
                            })
                            .addClass("show");

                        scrollCard($('.card.show .flap2'));
                    }
                    zIndex++;
                } else {
                    $(".cards")
                        .addClass("showing");
                    $(this)
                        .css({
                            zIndex: zIndex
                        })
                        .addClass("show");

                    scrollCard($('.card.show .flap2'));

                    zIndex++;
                }
            });

            $(".card__actions .btn-toggle").click(function(e) {
                e.preventDefault();
                var url = $(this).data('url');
                if(url) location.href = url;
            })

            // process image: lazy load and add fade in effect
            $(".lazy").lazyload({
                threshold: 200,
                effect : "fadeIn"
            });
        });
    </script>
{{- end -}}
